header {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin: 0;
    background-color: rgba(100, 53, 145, 0.679);
    color: azure;
}
h1 {
    margin: auto;
    padding-left: 25px;
    width: 20%;
}
a {
    color: azure;
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
}
a:hover {
    color: lavender;
    font-size: 125%;
}
nav {
    display: flex;
    width: 100%;
    margin-top: auto;
    margin-right: 10px;
    justify-content: end;
}
.hero {
    display: flex;
    height: 200px;
    background-image: url(https://media.tacdn.com/media/attractions-content--1x-1/0b/dd/a8/ce.jpg);
    background-position:center;
}
.phrase {
    font-size: 200%;
    margin: auto;
    font-weight: 600;
    color: azure;
}
body {
    background-color: rgba(128, 128, 128, 0.405);
    margin: 0;
}